.blogView {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, min(100%, 475px));
    grid-gap: 32px;
    overflow-y: auto;
    margin-top: 40px;
}

@media screen and (max-width: 1024px) {
    .blogView {
        justify-content: center;
    }
}