.articleView {
    display: flex;
    flex-direction: column;
    padding: 40px 80px 0px;
    background: var(--primary);
    height: 100vh;
    gap: 125px;
    overflow-y: scroll;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.imageContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.imageContainer img{
    max-height: 480px;
    width: auto;
}

.articleContent {
    display: flex;
    max-width: 800px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.titleDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.titleColor {
    color: var(--secondary);
}

.articleDescription {
    color: var(--secondary);
    text-align: left;
}