@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

.articleView {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.imageContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.imageContainer img {
    max-height: 480px;
    width: auto;
}

.articleContent {
    display: flex;
    max-width: 800px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.titleDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.titleColor {
    color: var(--primary);
}

.articleText {
    text-align: left;
    color: var(--primary);
}

.articleText > :not(:last-child) {
    margin: 20px 0 20px 0;
}

.articleText > :last-child {
    margin-top: 20px;
}

.articleText h4 {
    font-size: 24px;
    font-family: "Poppins";
    font-weight: 400;
    text-align: center;
}

.articleText p {
    font-size: 18px;
    font-family: "Poppins";
    font-weight: 400;
    line-height: normal;
}

.articleText a {
    text-decoration: underline;
    color: var(--link);
}