.view {
    display: flex;
    flex-direction: column;
    background: var(--primary);
    padding: 40px 40px;
    margin: auto;
    overflow-y: auto;
    max-width: 1600px; /** need to revise this */
}

.content {
    display: flex;
    background: var(--primary);
}