.view {
    display: flex;
    flex-direction: column;
    background: var(--primary);
    overflow: hidden;
    padding: 40px 40px;
    height: 100%;
}

.content {
    display: flex;
    background: var(--primary);
}