.aboutView {
    display: flex;
    flex-direction: column;
    padding: 40px 80px 0px;
    background: var(--blue);
    height: 100vh;
    gap: 125px;
    overflow-y: scroll;
}

.aboutInfo {
    display: flex;
    align-items: flex-start;
    gap: 80px;
    flex: 1;
}

.aboutInfo content {
    text-align: left;
    color: #FFFFFF;
}

.aboutInfo img {
    max-width: 741px;
    max-height: 637px;
}