.landingView {
    overflow-y: hidden;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-gap: 64px;
    margin-top: 20px;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.profileImage {
  border-radius: 20%;
  max-height: 600px;
}

.imageContainer {
  display: flex;
  justify-content: center;
}

.title{
  font-size: var(--font-main-title);
}

.titleWord {
  opacity: 0;
  transform: translateX(-10%);
  animation: fadeIn 1s ease forwards;
  z-index: 0;
}

@keyframes fadeIn {  
  to {  
      opacity: 1;
      transform: translateX(0);  
  }  
}

.subtitle {
  opacity: 0;
  animation: bounce 1s forwards ease-out;
  animation-delay: 3s;
}

.extraInfo {
  opacity: 0;
  display: flex;
  gap: 16px;
  margin-top: 12px;
  animation: fadeIn 1s forwards ease-in;
  animation-delay: 4s;
}

.learnMore, .contact {
  color: var(--tertiary);
  text-decoration: underline;
}

@keyframes fadeIn {  
  to {  
      opacity: 1;
      transform: translateX(0);  
  }  
}

@keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  60% {
    opacity: 0.5;
    transform: translateY(-5%);
  }
  80% {
    opacity: 0.75;
    transform: translateY(5%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

